.footer{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.final_pag{
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin-bottom: 0.5em;
    height: auto;
    text-align: center;
}
